<! DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="This web page provides templates for creating User Stories">
    <title>Loan Application | Axis Finance</title>        
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="style/form.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
        
        <div class="col-lg-24">
            <div class="img-container">
                <img src="/img/banner2.jpg" alt="Contact Us — Pixpa" class="img-form">
            </div>
        </div>
        
        <div class="col-lg-6 applicationForm">
            
            <div class="row col-lg-24">                                                    
                <span>
                    <h2>Get in touch with us</h2>
                    <h4>Please fill out the quick form and we will be in touch with lightning speed.</h4>                
                </span>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <span>
                            <label>Full Name: </label><input type="text" id="fullName" class="formInput form-control"/>
                        </span>
                        <span >
                            <label>Phone: </label><input type="text" id="phone" class = "formInput form-control"/>
                        </span>
                        <span>
                            <label>PAN: </label><input type="text" id="pan" class = "formInput form-control"/>
                        </span>
                        
                        
                    </div>                    
                    
                    <div class="form-group col-lg-6">
                        <span>
                            <label>Income: </label><input type="text" id="income" class="formInput form-control"/>
                        </span>
                        <span >
                            <label>Email: </label><input type="text" id="email" class = "formInput form-control"/>
                        </span>
                        <span>
                            <label>Aadhar: </label><input type="text" id="aadhar" class = "formInput form-control"/>
                        </span>                                            
                    </div>
                </div>
                <div class="row col-lg-12" >
                    <span>
                            <label>Address: </label><textarea id="address" class = "formInput form-control" rows="3" style="padding-left: 10px padding-right: 10px"></textarea>
                    </span>
                </div>
                
                <div class="row col-lg-6">
                    <input type="submit" class="btn btn-default"/>                
                </div>
                
            </div>
            
        </div>

    </body>
</html>