<! DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="This web page provides templates for creating User Stories">
    <title>User Story Maker</title>
    <link rel="stylesheet" href="style/templater.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
        <div class="fullWidthDiv">
            <h1>User Story Maker</h1>
            </div>   
        <div class="container">
            
        <div class="storyDiv row">
            <div class=" col-lg-12">
                <h4>Create Your Story</h4>
                <br>
            </div>
            <div class="col-lg-12">
            <div>
                <span>Select Story Type: </span> 
                <select class="selectBox"> 
                    <option>Feature</option>
                    <option>Foundation</option>
                    <option>Design</option>    
                    <option>Spike</option>
                </select>
            </div>
            <label>add name</label>
            
            <input type="text" title="add name" placeholder="add name"/>
            
            </div>    
            </div>
        </div>
    </body>
</html>